
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Public/Css/Login.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    @*<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>*@
</head>
<body>
    <div class="container">
        <div>@ViewBag.hashedPass</div>
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin" method="post">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="text" name="Name" class="form-control edit" placeholder="Adiniz" required autofocus>
                <input type="text" name="Lastname" class="form-control edit" placeholder="Soyadiniz" required>
                <input type="email" id="inputEmail" name="Email" class="form-control" placeholder="Email address" required autofocus>
                <input type="password" id="inputPassword" name="Password" class="form-control" placeholder="Password" required>
                <input type="password"  name="ConPass" class="form-control edit" placeholder="Confirm Password" required>
                @{
        if (ViewBag.Error != null)
        {
            <ul style="list-style: none;padding: 0" class="LoginError">
                <li>
                    <div class="alert alert-warning" style="padding:5px;">
                        <h4 class="text-center" style="font-size:14px;padding: 20px 6px 6px 6px;">@ViewBag.Error</h4>
                    </div>
                </li>
            </ul>
  }
else if(ViewBag.Success != null)
{
 <ul style="list-style: none;padding: 0" class="LoginError">
                <li>
                    <div class="alert alert-success" style="padding:5px;">
                        <h4 class="text-center" style="font-size:14px;padding: 20px 6px 6px 6px;">@ViewBag.Success</h4>
                    </div>
                </li>
            </ul>
}
                }
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Qeydiyyatdan Keç</button>
            </form><!-- /form -->
            <a href="@Url.Action("Index","Login")" class="forgot-password">
                Daxil ol
            </a>
        </div><!-- /card-container -->
    </div><!-- /container -->
    <script src="~/Public/Js/Login.js"></script>
    <script>
$(document).ready(function () {

            //Login Error Begin
            $("#inputEmail").keyup(function () {
                $("ul.LoginError").empty();
            });
    //Login Error End
        });</script>
    <style>
        .edit{
            height:44px;
        }
    </style>
</body>
</html>
